body {
    margin: 0%;
    text-align: center;
    font-family: 'Merriweather', serif;
    color:#40514E;

}



div {
    background-color: white;
}

h1 {
    font-family: 'Sacramento', cursive;
    font-size: 4rem;
    margin: 50px auto 0 auto;
    color: #66BFBF;
    line-height: 2;

}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size:2rem;
    font-weight: bold;
    padding-bottom:10px;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}
p{
    line-height: 2;
}
hr{
    border: dotted 6px;
    color: lightgray;
    border-bottom: none;
    width: 4%;
    margin:100px auto;

}
.img-mount{
    width: 40%;
    height:40%;
}
.top-container {

    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;

}
.middle-container{
    margin: 100px 0 ;
}
.intro{
    width:50%;
    line-height: 2;
    margin:auto;
}
.profile-pic {
    height: 20%;
    width: 20%;
}

.skill-pic1 {
    height: 20%;
    width: 20%;
    float: left;
    margin-right:30px;
}
.skill-pic2 {
    height: 20%;
    width: 20%;
    float: right;
    margin-left:30px;
}


.pro {
    text-decoration: underline;
}

.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 50%;
}


.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}
.skill-row{
    width:50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;

}
.contact-message{
    width: 40%;
    margin:40px auto 60px;
}
.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: linear-gradient(to bottom, #11CDD4, #11999E);
    border-radius: 8px;
    font-family: Montserrat, serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}
.bottom-container{
    background-color: #E4F9F5;
    padding: 30px 0 20px;
}
a{
    color: #11999E;
    font-family: Montserrat,serif;
    font-weight: bold;
    margin: 50px 15px;
    text-decoration: none;
}
a:hover{
    color: #EAF6F6;
}
.copyright{
    color: #66BFBF;
    font-size: 75%;
    padding:20px 0;
}
